<div class='form'>
    <label for='title-input'>Title</label>
    {{input id='title-input' type='text' value=title focus-out=(action 'focusOut' 'title')}}
    {{#if validations.attrs.title.isInvalid}}
        <div class='red-text'>{{this.validations.attrs.title.message}}</div>
    {{/if}}

    <label for='code-input'>Code</label>
    {{input id='code-input' type='text' value=code focus-out=(action 'focusOut' 'code')}}
    {{#if validations.attrs.code.isInvalid}}
        <div class='red-text'>{{v-get this 'code' 'message'}}</div>
    {{/if}}
    {{input type='checkbox' checked=enableCodeLengthValidator}}
</div>
